
    <table border="1" width="50%">
      <tr>
        <td colspan="7">
          Empresa: <input type="text" size="83" name="txtEmpresa">
        <td colspan="7">
          № <input type="text" size="83" name="txtNo">
      </tr>
      <tr>
        <td colspan="7">
          Articulo: <input type="text" size="83" name="txtArticulo">
        <td colspan="7">
          Proveedor: <input type="text" size="75" name="txtProveedor">
      </tr>
      <tr>
        <td colspan="5">
          Almacen: <input type="text" size="57" name="txtAlmacen">
        <td colspan="5">
          Casillero: <input type="text" size="49" name="txtCasillero">
        <td colspan="4">
          Unidad: <input type="text" size="39" name="txtUnidad">
      </tr>
       <tr>
        <td colspan="2">
          Limites revisados en: <input type="text"  name="txtLimitesRev">
        <td colspan="2">
          Fecha: <input type="date" name="txtFechaI">
        <td colspan="2">
          Minimo: <input type="text" name="txtMinimopzsI">
        <td colspan="2">
          Maximo: <input type="text" name="txtMaximopzsI">
        <td colspan="2">
          Fecha: <input type="date" name="txtFechaF">
        <td colspan="2">
          Minimo pzs: <input type="text" name="txtMinimopzsF">
        <td colspan="2">
          Maximo: <input type="text" name="txtMaximopzsF">
      </tr>
    </table>
    <br>
    <br>
    <table id="tabla" border="2" width="10%">
      <tr>
        <th width="50%" rowspan="2" align="center">Fecha</th>
        <th width="50%" rowspan="2" align="center">№ De Factura</th>
        <th width="100%" rowspan="2" align="center">Concepto</th>
        <th colspan="3" align="center" bgcolor="OliveDrab">Unidades</th>
        <th colspan="2" align="center" bgcolor="Coral">Costos</th>
        <th colspan="3" align="center" bgcolor="DeepSkyBlue">Valores</th>
      </tr>
      <tr>
        <td width="50%" align="center">Entrada</td>
        <td width="50%" align="center">Salida</td>
        <td width="50%" align="center">Existencia</td>
        <td width="50%" align="center">Unitario</td>
        <td width="50%" align="center">Medio</td>
        <td width="50%" align="center">Debe</td>
        <td width="50%" align="center">Haber</td>
        <td width="50%" align="center">Saldo</td>
      </tr>
      <tr *ngFor="let in of counter(lista) ;let i = index" id="container1">
        <td width="50%" align="center"><input type="date" width="200" name="Fecha"></td>
        <td width="50%" align="center"><input type="text" name="Factura"></td>
        <td width="50%" align="center"><input type="text" name="Concepto"></td>
        <td width="50%" align="center"><input type="text" name="Entrada"></td>
        <td width="50%" align="center"><input type="text" name="Salida"></td>
        <td width="50%" align="center"><input type="text" name="Existencia"></td>
        <td width="50%" align="center"><input type="text" name="Unitario"></td>
        <td width="50%" align="center"><input type="text" name="Medio"></td>
        <td width="50%" align="center"><input type="text" name="Debe"></td>
        <td width="50%" align="center"><input type="text" name="Haber"></td>
        <td width="50%" align="center"><input type="text" name="Saldo"></td>
      </tr>
    </table>
    <br>
    <div  id="plus" style="margin: auto; padding-left: 50%;">
      <a style="cursor:pointer" id="filldetails" (click)="lista = lista + 1"><img src="https://img.icons8.com/officel/80/000000/plus.png"/><br>Agregar campos</a>
    </div>
    <table border="2" style="margin-left: 10px;">
      <tr id="containerFinal">
        <td width="50%" align="center" rowspan="1" colspan="4"><h2>Comprobación</h2></td>
      </tr>
      <tr id="containerFinal">
        <td width="50%" align="center" rowspan="1" colspan="4"><h2>UDS EXISTENCIA X COSTO MEDIO</h2></td>
      </tr>
      <tr id="containerFinal">
        
        <td width="50%" align="center" rowspan="1" colspan="4"><input type="text" name="celda1"></td>
        
      </tr>
    </table>

